<<<<<<< HEAD
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}::-moz-selection{color:#ceb475;background-color:#23313E}::selection{color:#ceb475;background-color:#23313E}a{text-decoration:none}body{margin:0}body,p{font-family:"Raleway", open-sans}h1,h2{font-family:"Cantata One"}.banner-img{width:100%;height:100vh;position:relative;z-index:1;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}.top-nav{position:fixed;z-index:2;width:95%;top:2.5em;color:#fff}.top-nav .main-nav{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}.top-nav .main-nav ul{list-style-type:none}.top-nav .main-nav ul li{display:inline;padding:1.5em;color:#fff;letter-spacing:0.15em;font-weight:300;font-size:0.8em}.top-nav .main-nav ul li a{color:#fff}.logo img{position:fixed;top:2.5em;left:5%;width:8%;z-index:2}.title h1{position:absolute;z-index:2;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);font-size:2em;width:80%;text-align:center;color:#fff;letter-spacing:0.15em}.title h1 h1{font-weight:normal}.citation{position:absolute;top:70%;color:white;z-index:3;right:7%;width:25%;font-size:1em;font-size:0.8em;letter-spacing:0.05em;background-color:#ceb475;padding:3em 3em 7em;font-weight:300;line-height:1.5em;-webkit-transition:ease .3s;-o-transition:ease .3s;transition:ease .3s}.citation .text:after,.citation .text:before{content:'"';font-size:1.5em;line-height:1.5em;font-style:italic}.citation .citation-author{font-style:italic;padding-top:1em;font-family:"Cantata One"}.citation:hover{-webkit-box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5);box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5)}.paslaugos-inner{padding:8em 0}.apie-body,.kontaktai-body,.paslaugos-body{width:90%;margin:auto}.apie-body p,.kontaktai-body p,.paslaugos-body p{padding:3em 0;line-height:1.7em;color:#23313E}.title h2{font-size:3em;color:#23313E;padding:0 0 0.5em;border-bottom:2px solid #ceb475;display:inline-block;width:auto}.title-paslaugos-holder{width:90%;text-align:right;margin:auto}.title-paslaugos-holder h3{width:auto;color:#24313e;font-size:2em;border-bottom:2px solid #ceb475;padding:0 0 0.5em;font-family:"cantata one";display:inline-block}.paslaugos-holder{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:3em 0 0}.service{display:inline-block;width:19%;padding:0 2em;text-align:center;background-color:#23313E;font-size:1em;height:9em;color:#fff;letter-spacing:0.1em;margin:2em;-webkit-transition:ease .3s;-o-transition:ease .3s;transition:ease .3s;cursor:default}.service p{position:relative;top:40%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.service:hover{-webkit-box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5);box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5);background-color:#ceb475;-webkit-transition:ease .3s;-o-transition:ease .3s;transition:ease .3s}.apie{background-image:url("../images/apie-bg2.jpg");width:100%;height:600px;position:relative;z-index:1;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}.apie .title h2{color:#fff}.apie .apie-content{background-color:#ceb475;padding:0em 3em 2em}.apie .apie-content p{color:#fff}.apie .apie-content:hover{-webkit-box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5);box-shadow:0 4px 9px 1px rgba(0, 0, 0, 0.5)}.icons-holder{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.stiprybe{display:inline-block;width:25%;text-align:center;padding:0 2em}.stiprybe p{padding:0}.icons{font-size:4em;color:#fff;padding:15px;font-family:icomoon;cursor:default}.kontaktai-inner{padding:8em 0}.kontaktai-forma,.kontaktai-info{width:49%;display:inline-block}.forma{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}input[type=text]{display:inline-block;font-family:Raleway;font-size:1.5em;color:#23313E;padding:0 0 0.5em;border:0px;border-bottom:2px #ceb475 solid}input::-webkit-input-placeholder{color:#23313E}input:-ms-input-placeholder{color:#23313E}input::placeholder{color:#23313E}
=======
/*Variables*/
/*Basics*/
*,
*:before,
*:after {
  box-sizing: border-box; }

*::selection {
  color: #ceb475;
  background-color: #23313E; }

a {
  text-decoration: none; }

body {
  margin: 0; }

body, p {
  font-family: "Raleway", open-sans; }

h1, h2 {
  font-family: "Cantata One"; }

.banner-img {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.top-nav {
  position: fixed;
  z-index: 2;
  width: 95%;
  top: 2.5em;
  color: #fff; }
  .top-nav .main-nav {
    display: flex;
    justify-content: flex-end; }
    .top-nav .main-nav ul {
      list-style-type: none; }
      .top-nav .main-nav ul li {
        display: inline;
        padding: 1.5em;
        color: #fff;
        letter-spacing: 0.15em;
        font-weight: 300;
        font-size: 0.8em; }
        .top-nav .main-nav ul li a {
          color: #fff; }

.logo img {
  position: fixed;
  top: 2.5em;
  left: 5%;
  width: 8%;
  z-index: 2; }

.title h1 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  width: 80%;
  text-align: center;
  color: #fff;
  letter-spacing: 0.15em; }
  .title h1 h1 {
    font-weight: normal; }

.citation {
  position: absolute;
  top: 70%;
  color: white;
  z-index: 3;
  right: 7%;
  width: 25%;
  font-size: 1em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  background-color: #ceb475;
  padding: 3em 3em 7em;
  font-weight: 300;
  line-height: 1.5em;
  transition: ease .3s; }
  .citation .text:before, .citation .text:after {
    content: '"';
    font-size: 1.5em;
    line-height: 1.5em;
    font-style: italic; }
  .citation .citation-author {
    font-style: italic;
    padding-top: 1em;
    font-family: "Cantata One"; }

.citation:hover {
  box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.5); }

.paslaugos-inner {
  padding: 8em 0; }

.paslaugos-body, .apie-body, .kontaktai-body {
  width: 90%;
  margin: auto; }
  .paslaugos-body p, .apie-body p, .kontaktai-body p {
    padding: 3em 0;
    line-height: 1.7em;
    color: #23313E; }

.title h2 {
  font-size: 3em;
  color: #23313E;
  padding: 0 0 0.5em;
  border-bottom: 2px solid #ceb475;
  display: inline-block;
  width: auto; }

.title-paslaugos-holder {
  width: 90%;
  text-align: right;
  margin: auto; }

.title-paslaugos-holder h3 {
  width: auto;
  color: #24313e;
  font-size: 2em;
  border-bottom: 2px solid #ceb475;
  padding: 0 0 0.5em;
  font-family: "cantata one";
  display: inline-block; }

.paslaugos-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 0 0; }

.service {
  display: inline-block;
  width: 19%;
  padding: 0 2em;
  text-align: center;
  background-color: #23313E;
  font-size: 1em;
  height: 9em;
  color: #fff;
  letter-spacing: 0.1em;
  margin: 2em;
  transition: ease .3s;
  cursor: default; }
  .service p {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }

.service:hover {
  box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.5);
  background-color: #ceb475;
  transition: ease .3s; }

.apie {
  background-image: url("../images/apie-bg2.jpg");
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .apie .title h2 {
    color: #fff; }
  .apie .apie-content {
    background-color: #ceb475;
    padding: 0em 3em 2em; }
    .apie .apie-content p {
      color: #fff; }
  .apie .apie-content:hover {
    box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.5); }

.icons-holder {
  display: flex; }

.stiprybe {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0 2em; }
  .stiprybe p {
    padding: 0; }

.icons {
  font-size: 4em;
  color: #fff;
  padding: 15px;
  font-family: icomoon;
  cursor: default; }

.kontaktai-inner {
  padding: 8em 0; }

.kontaktai-info, .kontaktai-forma {
  width: 49%;
  display: inline-block; }

.forma {
  display: flex;
  flex-direction: column; }

input[type="text"] {
  display: inline-block;
  font-family: Raleway;
  font-size: 1.5em;
  color: #23313E;
  padding: 0 0 0.5em;
  border: 0px;
  border-bottom: 2px #ceb475 solid; }

input::placeholder {
  color: #23313E; }

/*# sourceMappingURL=custom.css.map */
>>>>>>> Added new books to teh list
